<div class="size-chart-wrapper">
    <div class="size-chart__heading">
     The pack contains 4 band sizes (S, M, L, XL) to ensure an optimal fit for maximum comfort and effective breathing support.
    </div>
    {% comment %} <div class="size-chart__subheading">
        Which Size Should You Choose?
    </div> {% endcomment %}
    <div>
      {{ 'nasal-dilator-guide.webp' | file_url | img_tag: 'Nasal Dilator', 'reviv-big-image' }}
    </div>
</div>
{% comment %} <div>
<div class="size-chart__subheading">Already found your fit? Purchase Now</div>
<div>
    If you're still uncertain about which size to choose, feel free to reach out to me at
    <span class="size-chart__email">ken@getreviv.com</span>.
</div>
</div> {% endcomment %}