<nav class="breadcrumb gradient color-{{ section.settings.color_scheme }}">
  <div class="page-width">
    <a class="product-link" href="{{routes.all_products_collection_url}}">
      &lt; All Products
    </a>
    /
    <span class="product-link">{{ product.title }}</span>
  </div>
</nav>
