<div class="size-chart-wrapper">
    <div>
      {{ 't-shirt-size-guide.webp' | file_url | img_tag: 'Reviv T Shirt', 'hoodie-guide-image' }}
    </div>
</div>
<div>
<div class="size-chart__subheading">Already found your fit? Purchase Now</div>
<div>
    If you're still uncertain about which size to choose, feel free to reach out to me at
    <span class="size-chart__email">ken@getreviv.com</span>.
</div>
</div>