
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608073589391885210.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-608073589391885210.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608073589391885210.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608073589391885210.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608073589391885210.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608073589391885210.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608073589391885210.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608073589391885210.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608073589391885210.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608073589391885210.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608073589391885210.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608073589391885210.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608073589391885210.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608073589391885210.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-608073589391885210.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608073589391885210.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608073589391885210.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608073589391885210.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608073589391885210.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608073589391885210.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608073589391885210.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608073589391885210.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608073589391885210.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-608073589391885210.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608073589391885210.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608073589391885210.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-608073589391885210.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608073589391885210.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608073589391885210.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-608073589391885210.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-608073589391885210.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608073589391885210.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608073589391885210.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608073589391885210.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608073589391885210.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-608073589391885210.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608073589391885210.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608073589391885210.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608073589391885210.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608073589391885210.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608073589391885210.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608073589391885210.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608073589391885210.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608073589391885210.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608073589391885210.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-608073589391885210.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608073589391885210.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608073589391885210.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608073589391885210.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608073589391885210.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-608073589391885210.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608073589391885210.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608073589391885210.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608073589391885210.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608073589391885210.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608073589391885210.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608073589391885210.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-608073589391885210.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608073589391885210.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608073589391885210.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608073589391885210.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608073589391885210.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608073589391885210.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608073589391885210.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608073589391885210.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608073589391885210 .gp-relative{position:relative}.gps-608073589391885210 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608073589391885210 .gp-mb-0{margin-bottom:0}.gps-608073589391885210 .gp-flex{display:flex}.gps-608073589391885210 .gp-grid{display:grid}.gps-608073589391885210 .\!gp-hidden{display:none!important}.gps-608073589391885210 .gp-hidden{display:none}.gps-608073589391885210 .gp-max-w-full{max-width:100%}.gps-608073589391885210 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608073589391885210 .gp-flex-col{flex-direction:column}.gps-608073589391885210 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608073589391885210 .gp-duration-200{transition-duration:.2s}.gps-608073589391885210 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608073589391885210 .tablet\:\!gp-hidden{display:none!important}.gps-608073589391885210 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608073589391885210 .mobile\:\!gp-hidden{display:none!important}.gps-608073589391885210 .mobile\:gp-hidden{display:none}}.gps-608073589391885210 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v21/co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_v86GnM.ttf) format('truetype');
}


@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4TC1C4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4e6yC4E.ttf) format('truetype');
}
@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4deyC4E.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwtloaYP3v"}' data-id="gwtloaYP3v" id="gwtloaYP3v" data-same-height-subgrid-container class="gwtloaYP3v gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:15px;--pb:75px;--pr:15px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:15px;--pb-mobile:40px;--pr-mobile:15px;--cg:30px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gA0wu-5V3V gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gns4Y8Dn9L"}' data-id="gns4Y8Dn9L" id="gns4Y8Dn9L" data-same-height-subgrid-container class="gns4Y8Dn9L gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPVOt7baRQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geaQjhYCk8"}' data-id="geaQjhYCk8" id="geaQjhYCk8" data-same-height-subgrid-container class="geaQjhYCk8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-3xl);--mb:var(--g-s-l);--cg:30(32);--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gKvgj8bGRs gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goqzIgFZKL"
        class="goqzIgFZKL"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--c:#E5C185;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:40px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoqzIgFZKL_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gg6ZXfPL5S"
        class="gg6ZXfPL5S"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-xs);--mb-mobile:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggg6ZXfPL5S_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g7cEsw-PAK gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gomwooxEli"
        class="gomwooxEli"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--c:#E5C185;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-heading, heading);--weight:400;--size:35px;--size-tablet:40px;--size-mobile:30px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggomwooxEli_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkNN-lIPx6"
        class="gkNN-lIPx6"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mt:var(--g-s-xs);--mb-mobile:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--line-clamp:0;--line-clamp-tablet:0;--line-clamp-mobile:0;--c:#575757;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkNN-lIPx6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-608073589391885210 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607922545089315414&sectionId=608073589391885210)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoqzIgFZKL_text","label":"ggoqzIgFZKL_text","default":"Ergonomically Inspired Design"},{"type":"html","id":"ggg6ZXfPL5S_text","label":"ggg6ZXfPL5S_text","default":"<p>Based on flat-plane stabilization principles</p>"},{"type":"html","id":"ggomwooxEli_text","label":"ggomwooxEli_text","default":"Protective Barrier"},{"type":"html","id":"ggkNN-lIPx6_text","label":"ggkNN-lIPx6_text","default":"<p>Creates a cushioning barrier between teeth during grinding</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}