
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608611247725740804.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608611247725740804.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608611247725740804.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608611247725740804.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608611247725740804.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608611247725740804.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608611247725740804.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608611247725740804.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608611247725740804.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608611247725740804.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608611247725740804.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608611247725740804.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608611247725740804.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608611247725740804.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608611247725740804.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608611247725740804.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608611247725740804.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608611247725740804.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608611247725740804.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608611247725740804.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608611247725740804.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608611247725740804.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608611247725740804.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608611247725740804.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608611247725740804.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608611247725740804.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608611247725740804.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608611247725740804.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608611247725740804.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608611247725740804.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608611247725740804.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608611247725740804.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608611247725740804.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608611247725740804.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-608611247725740804.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608611247725740804.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608611247725740804.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-608611247725740804.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608611247725740804.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608611247725740804.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-608611247725740804.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-608611247725740804.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-608611247725740804.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-608611247725740804.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-608611247725740804.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-608611247725740804.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-608611247725740804.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608611247725740804.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608611247725740804.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-608611247725740804 .gp-relative{position:relative}.gps-608611247725740804 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608611247725740804 .gp-mb-0{margin-bottom:0}.gps-608611247725740804 .gp-flex{display:flex}.gps-608611247725740804 .gp-grid{display:grid}.gps-608611247725740804 .\!gp-hidden{display:none!important}.gps-608611247725740804 .gp-hidden{display:none}.gps-608611247725740804 .gp-max-w-full{max-width:100%}.gps-608611247725740804 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608611247725740804 .gp-flex-col{flex-direction:column}.gps-608611247725740804 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608611247725740804 .gp-duration-200{transition-duration:.2s}.gps-608611247725740804 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-608611247725740804 .tablet\:\!gp-hidden{display:none!important}.gps-608611247725740804 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-608611247725740804 .mobile\:\!gp-hidden{display:none!important}.gps-608611247725740804 .mobile\:gp-hidden{display:none}}.gps-608611247725740804 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"},"mobile":{"type":"color","color":"#FFF7F0","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gASdOUn5LJ"}' data-id="gASdOUn5LJ" id="gASdOUn5LJ" data-same-height-subgrid-container class="gASdOUn5LJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:#FFF7F0;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g610ZmpjIP gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gsPSLLd3Sg"}' data-id="gsPSLLd3Sg" id="gsPSLLd3Sg" data-same-height-subgrid-container class="gsPSLLd3Sg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOq4MoBCkl gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gdlzh0Ice4 gp-custom-code">
      <div>
    <div style='clear:both'></div>
<div id='judgeme_featured_carousel' class='jdgm-carousel-wrapper' data-main-widget='false'>
  <h2 class='jdgm-carousel-title'>Հաճախորդների կարծիքները</h2>
  </div>
<div style='clear:both'></div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-608611247725740804 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608273667457024567&sectionId=608611247725740804)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}