
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610330247836992411.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610330247836992411.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610330247836992411.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610330247836992411.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610330247836992411.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610330247836992411.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610330247836992411.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610330247836992411.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610330247836992411.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610330247836992411.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610330247836992411.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610330247836992411.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610330247836992411.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-610330247836992411.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610330247836992411.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610330247836992411.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610330247836992411.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610330247836992411.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610330247836992411.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610330247836992411.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610330247836992411.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610330247836992411.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610330247836992411.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610330247836992411.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610330247836992411.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610330247836992411.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610330247836992411.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610330247836992411.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610330247836992411.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610330247836992411.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610330247836992411.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610330247836992411.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610330247836992411.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610330247836992411.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610330247836992411.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610330247836992411.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610330247836992411.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-610330247836992411.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610330247836992411.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610330247836992411.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610330247836992411.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610330247836992411.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-610330247836992411.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610330247836992411.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610330247836992411.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610330247836992411.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610330247836992411.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-610330247836992411 .gp-relative{position:relative}.gps-610330247836992411 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610330247836992411 .gp-mb-0{margin-bottom:0}.gps-610330247836992411 .gp-flex{display:flex}.gps-610330247836992411 .gp-grid{display:grid}.gps-610330247836992411 .\!gp-hidden{display:none!important}.gps-610330247836992411 .gp-hidden{display:none}.gps-610330247836992411 .gp-max-w-full{max-width:100%}.gps-610330247836992411 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610330247836992411 .gp-flex-col{flex-direction:column}.gps-610330247836992411 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610330247836992411 .gp-duration-200{transition-duration:.2s}.gps-610330247836992411 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-610330247836992411 .tablet\:\!gp-hidden{display:none!important}.gps-610330247836992411 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-610330247836992411 .mobile\:\!gp-hidden{display:none!important}.gps-610330247836992411 .mobile\:gp-hidden{display:none}}.gps-610330247836992411 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g8nA9DHhsO"}' data-id="g8nA9DHhsO" id="g8nA9DHhsO" data-same-height-subgrid-container class="g8nA9DHhsO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:0px;--pb:0px;--pt-tablet:0px;--pb-tablet:0px;--pt-mobile:0px;--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gafKh5j6Xm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gsk3uaygaH"}' data-id="gsk3uaygaH" id="gsk3uaygaH" data-same-height-subgrid-container class="gsk3uaygaH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:16px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtOKBpffG5 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"glCpNYavOn"}' data-id="glCpNYavOn" id="glCpNYavOn" data-same-height-subgrid-container class="glCpNYavOn gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbdieqJovR gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gtvC-pujsX gp-custom-code">
      <div>
    <section class="faqA">
  <h2>If You’re Still Reading, You’re Probably <br><span>Thinking Carefully</span></h2>

  <div class="faqBox">
    <div class="faqItem">
      <div class="faqQ"><b>1</b> Is this just another night guard?<i>+</i></div>
      <div class="faqAwn">
        Reviv is built differently from basic protection guards. It is designed around jaw mechanics and intended to support positioning during sleep. Many people exploring this approach are looking beyond simple tooth contact protection.
      </div>
    </div>

    <div class="faqItem">
      <div class="faqQ"><b>2</b> What if I tried multiple solutions?<i>+</i></div>
      <div class="faqAwn">
        Many traditional options focus solely on a single aspect of the issue. Reviv takes a more comprehensive approach by considering how your entire jaw and facial structure interact. If other solutions haven't provided the relief you expected, it's likely because they weren't addressing the broader mechanical alignment that Reviv is specifically engineered for.
      </div>
    </div>

    <div class="faqItem">
      <div class="faqQ"><b>3</b> Will this change everything overnight?<i>+</i></div>
      <div class="faqAwn">
        True structural support is a process, not an instant fix. While you will notice a difference in positioning from the first night, your muscles and joints need time to adapt to a more supportive alignment. Most people see the most significant and lasting benefits after a few weeks of consistent use as their body settles into this improved resting state.
      </div>
    </div>

    <div class="faqItem">
      <div class="faqQ"><b>4</b> How does this feel different?<i>+</i></div>
      <div class="faqAwn">
        Unlike bulky, generic guards that can feel intrusive, Reviv is designed to be low-profile and anatomically precise. It’s engineered to stabilize your positioning without creating unnecessary pressure or interfering with your natural breathing. The goal is a seamless experience where you forget you’re wearing it, while your jaw remains fully supported.
      </div>
    </div>

    <div class="faqItem">
      <div class="faqQ"><b>5</b> Who is this for?<i>+</i></div>
      <div class="faqAwn">
        This is for individuals who are looking for a more sophisticated way to manage nighttime tension and long-term oral health. Whether you're dealing with morning discomfort, facial muscle fatigue, or simply want a solution that respects your jaw's natural mechanics, Reviv provides the structural support necessary for a more restorative rest.
      </div>
    </div>
  </div>
</section>

<style>
  .faqA {
    padding: 60px 15px; /* Փոքրացրել ենք padding-ը մոբայլի համար */
    background: white !important;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  .faqA h2 {
    font-size: 32px;
    margin-bottom: 40px;
    line-height: 1.2;
  }

  .faqA span { color: #b8843f; }

  .faqBox {
    max-width: 800px;
    margin: 0 auto !important; /* Կենտրոնացում առանց կողմնակի margin-ների */
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    text-align: left;
  }

  .faqItem {
    border-bottom: 1px solid #eee;
    padding: 15px 0;
  }

  .faqItem:last-child { border-bottom: none; }

  .faqQ {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    gap: 12px;
    font-size: 16px;
    transition: 0.3s;
  }

  .faqQ b {
    background: #f1e7da;
    color: #b8843f;
    width: 28px;
    height: 28px;
    min-width: 28px; /* Որ չսեղմվի տեքստի կողքին */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-size: 13px;
  }

  .faqQ i {
    margin-left: auto;
    font-style: normal;
    font-size: 22px;
    color: #b8843f;
    transition: transform 0.3s ease;
  }

  .faqAwn {
    max-height: 0; /* Անիմացիայի համար */
    overflow: hidden;
    transition: max-height 0.4s ease, padding 0.3s ease;
    padding-left: 40px;
    color: #555;
    font-size: 14px;
    line-height: 1.6;
  }

  /* Active State */
  .faqItem.active .faqAwn {
    max-height: 500px; /* Բավարար բարձրություն տեքստի համար */
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .faqItem.active i {
    transform: rotate(45deg);
  }

  /* Մոբայլի կարգավորումներ */
  @media(max-width: 768px) {
    .faqA { padding: 40px 10px; }
    .faqA h2 { font-size: 24px; }
    .faqBox { padding: 15px; }
    .faqQ { font-size: 15px; }
    .faqAwn { padding-left: 0; } /* Մոբայլում տեքստը բերում ենք ձախ, որ տեղ լինի */
  }
</style>

<script>
  document.querySelectorAll(".faqQ").forEach(q => {
    q.onclick = () => {
      const item = q.parentElement;
      // Եթե ուզում ես, որ մեկը բացելիս մյուսները փակվեն, ապա օգտագործիր այս երկու տողը.
      // document.querySelectorAll(".faqItem").forEach(el => { if(el !== item) el.classList.remove("active"); });
      
      item.classList.toggle("active");
    }
  })
</script>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-610330247836992411 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609720388552754094&sectionId=610330247836992411)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}