
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607922545191289430.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-607922545191289430.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607922545191289430.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607922545191289430.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607922545191289430.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607922545191289430.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607922545191289430.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607922545191289430.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607922545191289430.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607922545191289430.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607922545191289430.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607922545191289430.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607922545191289430.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607922545191289430.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607922545191289430.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607922545191289430.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607922545191289430.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607922545191289430.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607922545191289430.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607922545191289430.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607922545191289430.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607922545191289430.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607922545191289430.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607922545191289430.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607922545191289430.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-607922545191289430.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607922545191289430.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607922545191289430.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607922545191289430.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-607922545191289430.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607922545191289430.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607922545191289430.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607922545191289430.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607922545191289430.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607922545191289430.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607922545191289430.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607922545191289430.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607922545191289430.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607922545191289430.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607922545191289430.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607922545191289430.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607922545191289430.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607922545191289430.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607922545191289430.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607922545191289430.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607922545191289430.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607922545191289430.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-607922545191289430.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607922545191289430.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-607922545191289430.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607922545191289430.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607922545191289430.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607922545191289430.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607922545191289430.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-607922545191289430.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-607922545191289430.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607922545191289430.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-607922545191289430.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607922545191289430.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607922545191289430.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607922545191289430.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607922545191289430.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607922545191289430.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-607922545191289430 .gp-relative{position:relative}.gps-607922545191289430 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607922545191289430 .gp-mb-0{margin-bottom:0}.gps-607922545191289430 .gp-flex{display:flex}.gps-607922545191289430 .gp-grid{display:grid}.gps-607922545191289430 .\!gp-hidden{display:none!important}.gps-607922545191289430 .gp-hidden{display:none}.gps-607922545191289430 .gp-max-w-full{max-width:100%}.gps-607922545191289430 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607922545191289430 .gp-flex-col{flex-direction:column}.gps-607922545191289430 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607922545191289430 .gp-duration-200{transition-duration:.2s}.gps-607922545191289430 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607922545191289430 .tablet\:\!gp-hidden{display:none!important}.gps-607922545191289430 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607922545191289430 .mobile\:\!gp-hidden{display:none!important}.gps-607922545191289430 .mobile\:gp-hidden{display:none}}.gps-607922545191289430 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v21/co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_s06GnM.ttf) format('truetype');
}
@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v21/co3umX5slCNuHLi8bLeY9MK7whWMhyjypVO7abI26QOD_iE9GnM.ttf) format('truetype');
}


@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v15/QGYyz_MVcBeNP4NjuGObqx1XmO1I4QK1C4E.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(1216px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF7F0","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geEGL8eytl"}' data-id="geEGL8eytl" id="geEGL8eytl" data-same-height-subgrid-container class="geEGL8eytl gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:none;--d-mobile:none;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:47px;--pl:15px;--pb:47px;--pr:15px;--cg:30px;--gtc:minmax(0, 12fr);--w:1216px;--w-tablet:100%;--w-mobile:100%;--bgc:#FFF7F0;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--ai:normal;--jc:start;--o:0"
      class="gwfZr_g5dA gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gPflKC99Qj"}' data-id="gPflKC99Qj" id="gPflKC99Qj" data-same-height-subgrid-container class="gPflKC99Qj gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g5La81si5Q gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gHH8Tzq3cu"}' data-id="gHH8Tzq3cu" id="gHH8Tzq3cu" data-same-height-subgrid-container class="gHH8Tzq3cu gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:800px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g50Q1LBSxv gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4zycTCPlF"
        class="g4zycTCPlF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:31px;--mb-mobile:31px;--mb-tablet:31px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Cormorant-Garamond, 'Cormorant Garamond'), var(--g-font-heading, heading);--weight:500;--size:30px;--size-tablet:36px;--size-mobile:25px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4zycTCPlF_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1A9fVeOIA"
        class="g1A9fVeOIA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:500;--size:16px;--size-tablet:36px;--size-mobile:20px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1A9fVeOIA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_Am8_qLXo"
        class="g_Am8_qLXo"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--fs:normal;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:500;--size:14px;--size-tablet:36px;--size-mobile:18px;--lh:120%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#151515;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_Am8_qLXo_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-607922545191289430 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607922545089315414&sectionId=607922545191289430)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg4zycTCPlF_text","label":"gg4zycTCPlF_text","default":"<span style=\"color:#151515;\">\"I didn't realize how much I clenched at night until I started waking up pain-free. My jaw feels relaxed, my teeth don't hurt, and I'm sleeping through the night.\"</span>"},{"type":"html","id":"gg1A9fVeOIA_text","label":"gg1A9fVeOIA_text","default":"<span style=\"color:#151515;\">— Sarah M.</span>"},{"type":"html","id":"gg_Am8_qLXo_text","label":"gg_Am8_qLXo_text","default":"<span style=\"color:#E5C185;\">Verified Customer</span>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}