
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609370231445390319.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609370231445390319.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609370231445390319.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609370231445390319.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609370231445390319.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609370231445390319.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609370231445390319.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609370231445390319.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609370231445390319.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609370231445390319.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609370231445390319.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609370231445390319.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609370231445390319.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609370231445390319.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609370231445390319.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609370231445390319.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609370231445390319.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609370231445390319.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609370231445390319.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609370231445390319.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609370231445390319.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609370231445390319.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609370231445390319.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609370231445390319.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609370231445390319.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-609370231445390319.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609370231445390319.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609370231445390319.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609370231445390319.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609370231445390319.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609370231445390319.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609370231445390319.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609370231445390319.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609370231445390319.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609370231445390319.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609370231445390319.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609370231445390319.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-609370231445390319.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609370231445390319.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-609370231445390319.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609370231445390319.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609370231445390319.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609370231445390319.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609370231445390319.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-609370231445390319.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609370231445390319.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-609370231445390319.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609370231445390319.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609370231445390319.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609370231445390319.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609370231445390319.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-609370231445390319 .gp-relative{position:relative}.gps-609370231445390319 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609370231445390319 .gp-mb-0{margin-bottom:0}.gps-609370231445390319 .gp-flex{display:flex}.gps-609370231445390319 .gp-grid{display:grid}.gps-609370231445390319 .\!gp-hidden{display:none!important}.gps-609370231445390319 .gp-hidden{display:none}.gps-609370231445390319 .gp-max-w-full{max-width:100%}.gps-609370231445390319 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609370231445390319 .gp-flex-col{flex-direction:column}.gps-609370231445390319 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609370231445390319 .gp-duration-200{transition-duration:.2s}.gps-609370231445390319 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609370231445390319 .tablet\:\!gp-hidden{display:none!important}.gps-609370231445390319 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609370231445390319 .mobile\:\!gp-hidden{display:none!important}.gps-609370231445390319 .mobile\:gp-hidden{display:none}}.gps-609370231445390319 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#242424","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gY79WrN5ig"}' data-id="gY79WrN5ig" id="gY79WrN5ig" data-same-height-subgrid-container class="gY79WrN5ig gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--mt:-34px;--mb:0px;--pt:var(--g-s-2xl);--pb:0px;--mt-tablet:-34px;--mb-tablet:0px;--pt-tablet:var(--g-s-2xl);--pb-tablet:0px;--mt-mobile:-34px;--mb-mobile:0px;--pt-mobile:var(--g-s-2xl);--pb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfc6yOQljb gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--mt:0px;--mb:29px;--pt:69px;--pb:70px;--mt-tablet:0px;--mb-tablet:29px;--pt-tablet:69px;--pb-tablet:70px;--mt-mobile:0px;--mb-mobile:29px;--pt-mobile:40px;--pb-mobile:40px;--ta:center;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="ggyjM3NKER gp-custom-code">
      <div>
    <style>
  /* --- DESKTOP ՈՃԵՐ (Մնում են նույնը) --- */
  .faq-flex-wrapper {
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    background: transparent !important;
    padding: 20px 0 !important;
  }

  .faq-container {
    width: 100% !important;
    max-width: 800px !important;
    margin: 0 auto !important;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    color: #ffffff !important;
  }

  .faq-title {
    text-align: center !important;
    font-size: 32px !important;
    font-family: Georgia, serif !important;
    margin-bottom: 40px !important;
    color: #ffffff !important;
  }

  .faq-item {
    border-bottom: 1px solid #333 !important;
    width: 100% !important;
  }

  .faq-input {
    display: none !important;
  }

  .faq-label {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 20px 0 !important;
    cursor: pointer !important;
    font-size: 18px !important;
    color: #ffffff !important;
  }

  .arrow {
    width: 10px !important;
    height: 10px !important;
    border-right: 2px solid #E6C28A !important;
    border-bottom: 2px solid #E6C28A !important;
    transform: rotate(45deg) !important;
    transition: transform 0.3s ease !important;
  }

  .faq-content {
    max-height: 0 !important;
    overflow: hidden !important;
    transition: max-height 0.3s ease-out !important;
    color: #cccccc !important;
    font-size: 16px !important;
    line-height: 1.6 !important;
  }

  .faq-input:checked ~ .faq-content {
    max-height: 1000px !important;
    padding-bottom: 20px !important;
  }

  .faq-input:checked ~ .faq-label .arrow {
    transform: rotate(-135deg) !important;
  }

  /* --- ՄԻԱՅՆ ՄՈԲԱՅԼԻ ՀԱՄԱՐ (ԱՅՍՏԵՂ ԵՆ ՓՈՓՈԽՈՒԹՅՈՒՆՆԵՐԸ) --- */
  @media (max-width: 480px) {
    .faq-container {
      width: 92% !important;
    }

    .faq-title {
      font-size: 22px !important; /* Փոքրացրած վերնագիր */
      margin-bottom: 20px !important;
    }

    .faq-label {
      padding: 12px 0 !important; /* Սեղմված արանքներ */
      font-size: 14px !important; /* Փոքր տառաչափ հարցի համար */
    }

    .faq-content {
      font-size: 13px !important; /* Ավելի փոքր տառաչափ պատասխանի համար */
      line-height: 1.4 !important;
    }

    .arrow {
      width: 7px !important; /* Փոքրիկ սլաք */
      height: 7px !important;
    }

    .faq-input:checked ~ .faq-content {
      padding-bottom: 15px !important;
    }
  }
</style>

<div class="faq-flex-wrapper">
  <div class="faq-container">
    <h2 class="faq-title">Frequently Asked Questions</h2>

    <div class="faq-item">
      <input type="checkbox" id="faq1" class="faq-input">
      <label for="faq1" class="faq-label">How much forward growth is possible?<span class="arrow"></span></label>
      <div class="faq-content">
        Our view is that everyone has the potential to get to 'perfection' but it will take a long time and you will need to break through numerous plateaus on your way. <a href="#" style="color: #E6C28A !important; text-decoration: underline !important;">Read more.</a>
      </div>
    </div>

    <div class="faq-item">
      <input type="checkbox" id="faq2" class="faq-input">
      <label for="faq2" class="faq-label">Will my jawline get more defined?<span class="arrow"></span></label>
      <div class="faq-content">
        We view the jawline as a function of your cervical structure. For folks with a poor profile, it takes time to resurrect. Dedicated effort leads to great results. <a href="#" style="color: #E6C28A !important; text-decoration: underline !important;">Related info.</a>
      </div>
    </div>

    <div class="faq-item">
      <input type="checkbox" id="faq3" class="faq-input">
      <label for="faq3" class="faq-label">How long before I see facial changes?<span class="arrow"></span></label>
      <div class="faq-content">
        Highly dependent on each person's situation. Everyone has a different starting point and velocity of change. <a href="#" style="color: #E6C28A !important; text-decoration: underline !important;">Learn more.</a>
      </div>
    </div>

    <div class="faq-item">
      <input type="checkbox" id="faq4" class="faq-input">
      <label for="faq4" class="faq-label">Is this permanent?<span class="arrow"></span></label>
      <div class="faq-content">
        The skull 'inflates' and the curve of spee improves. To keep results, you need to support the interim bite till it closes. <a href="#" style="color: #E6C28A !important; text-decoration: underline !important;">Details here.</a>
      </div>
    </div>
  </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-609370231445390319 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/c598f3-79/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609289553286529608&sectionId=609370231445390319)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}