@font-face {
    font-family: 'Montserrat';
    src: url('https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Montserrat-Regular.woff2?v=1769067966') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Montserrat-Regular.woff?v=1769067965') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body.reviv-choice-guide:has(.rv-choice-banner){
  --font-body-family:  "Montserrat", sans-serif;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
}

@media screen and (max-width: 934px){
  .footer__blocks-wrapper{
  justify-content: space-around;
  }
  .footer-block.grid__item:has(.footer-block__brand-info){
        display: flex;
        flex-direction: column;

      .footer-block__brand-info{
        order: -1;
      }
  }
  .footer-block.footer-block--menu{
    flex: 0 0 25%;

    ul.footer-block__details-content.list-unstyled{
      flex-direction: column;
      align-items: start;
      /* width: fit-content;
      margin: 0 auto; */
    }
  }
}
@media screen and (min-width: 935px){
  .grid--4-col-desktop .footer-block.grid__item:has(.footer-block__brand-info) { min-width: calc(25% - var(--grid-desktop-horizontal-spacing) * 3 / 4); }
  .grid--3-col-desktop .footer-block.grid__item:has(.footer-block__brand-info) { min-width: calc(33.33% - var(--grid-desktop-horizontal-spacing) * 2 / 3); }
  .footer-block.grid__item:has(.footer-block__brand-info){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 50%;
    min-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 3 / 4);
    background: beige;
    border-radius: 20px;
    align-self: start;
    padding: 20px;
  }
  .featured-footer-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 20px;
      width: 35%;
      flex-wrap: wrap;
      height: fit-content;
  }
 
  .footer-block.footer-block--menu{
      order: -1;
      flex: 0 0 24%;

      .footer-block__details-content{
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }
  }
}
.rich-text__buttons .yellow-btn {
    border-radius: 8px !important;
    color: #000;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #E5C085;
    border: 2px solid #E5C085;
    text-decoration: none;
    padding: 2rem 5rem;
    transition: .5s;
    outline: none;
}
.rich-text__buttons .yellow-btn:hover{
    border: 2px solid #fff;
    color: #fff;
    background-color: #000;
}
.rich-text__buttons .yellow-btn:after,
.rich-text__buttons .yellow-btn:before{
display:none;
}

.free-trail-sec.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

/* OUR GUARANTEE */

.our-guarantee .rich-text__text li {
  list-style-type: none;
  position: relative;
  padding-left: 20px;
}

.our-guarantee .rich-text__text li::before {
  content: "•";
  font-size: 20px;
  position: absolute;
  left: 0; 
  top: 0;
}

.our-guarantee .rich-text__text li p {
  text-indent: 20px;
}
.our-guarantee .rich-text__text li:nth-child(2),.our-guarantee .rich-text__text li:nth-child(3),.our-guarantee .rich-text__text li:nth-child(4){
  text-indent: 20px;
}
.our-guarantee .rich-text__heading{
  text-align: start;
}
.our-guarantee .full-image .multicolumn-list__item:only-child{
  max-width: 1240px !important;
  margin-left: 0 !important;
}


/* PRODUCT BLOG CARDS */
.substack-blog.multicolumn .title-wrapper-with-link {
    width: 600px;
    margin: 0 auto 20px !important;
    text-align: center !important;
}
@media screen and (max-width: 550px){
  .substack-blog.multicolumn .title-wrapper-with-link {
    width: 350px !important;
    margin: 0 auto 20px !important;
    text-align: center !important;
}
}
.blog-cards-style .multicolumn-card__info{
    padding: 10px !important;
}
.blog-cards-style .multicolumn-card__info h3{
    font-size: 24px !important;
}
.blog-cards-style .multicolumn-card__info p{
    font-size: 16px !important;
}
.blog-cards-style .multicolumn-list__item{
  padding: 0px 5px !important;
}

.repod-blog-section .substack-blog.multicolumn .title-wrapper-with-link {
    width: 700px !important;
}
.repod-banner-bottom-text .rich-text__blocks {
  max-width: 80rem;
}
.repod-banner-bottom-btn .image-with-text__media img{
    aspect-ratio: 1/2;
    object-fit: cover;
}
.repod-banner-bottom-btn .button{
  border-radius: 8px;
  scale: 1.05;
  width: 100%;
  font-weight: 600;
  font-size: 18px;

}
.repod-faq-section .collapsible-content-wrapper-narrow{
  max-width: 1200px;
}
.purchase_btn_text{
  color: #fff;
  /* margin-left: 7px; */
  margin-bottom: 3px;
}
.purchase__btns{
  display: flex;

  .add-to-cart__button{
    font-weight: 600;
    padding: 0px 30px;
    color: #E5C085;
    margin-right: 10px;
    transition: .3s ease all;
  }

  .add-to-cart__button:hover{
    background-color: #E5C085;
    border-color: #E5C085;
    color: #242833;
  }
}

.purchase__btns.top{
  margin-top: 0;
  
  .add-to-cart__button{
    border: none;
    width: 160px;
    text-align: center;
    color: #242833;
    border-radius: 5px;
    background: #E5C085;
  }
  
}
@media screen and (max-width: 420px){
  .purchase__btns.top .add-to-cart__button{
   width: 130px;
   font-size: 18px;
   padding: 0px 20px;  
  }
}

.repod-faq-section {
  
  .icon-accordion {
  display: none;
}
h3 {
  font-size: 1em;
  font-family: Roboto, sans-serif !important;
  letter-spacing: 0.02em;
  font-size: 24px;
  line-height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}
h3:hover {
  text-decoration: none;
}
summary {
  padding-left: 0;
}
.accordion__content {
  padding-left: 0;
}
p {
  color: white;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.collapsible-content__heading {
  display: block;
  color: rgba(239, 201, 139, 1);
  font-family: Cardillac, serif;
  text-transform: uppercase;
  padding-bottom: 16px;
}
}

/* Affiliates Page Banner */
.aff-hero-banner{
  .banner__heading em{
    font-style: normal;
    color: #EFC98B;
  }
}
.sk-main-banner.aff-hero-banner::before{
  content: none !important;
}
.aff-trial-sec{
  .content-col h3, .btn-col .btn{
    font-size: 16px;
  }
  .btn-col .btn{
    /* padding: 1rem 3.5rem; */
  }
  .btn-col .btn:hover{
    background:transparent;
  }
}

/* aff multicolumn */
.aff-multicolumn .page-width, .aff-multi-centered .page-width{
  --page-width: 140rem !important;
}
.aff-multicolumn .title-wrapper-with-link, .aff-multi-centered .title-wrapper-with-link{
  justify-content: center;
  .title{
    font-size: 48px;
  }
}
.aff-multicolumn .multicolumn-card__image-wrapper, .ca-multicolumn .multicolumn-card__image-wrapper{
  padding-top: 0;
}
.aff-multicolumn .multicolumn-card__image-wrapper img, .ca-multicolumn .multicolumn-card__image-wrapper img{
  position: relative !important;
  width: 56px !important;
}
.aff-multicolumn .multicolumn-list, .aff-multi-centered .multicolumn-list{
  gap: 40px;
}
.aff-multicolumn .multicolumn-card, .ca-multicolumn .multicolumn-card{
  border: 1px solid #23202133;
  box-shadow: 0 4px 6px -2px #10182808,
  0 12px 16px -2px #10182808;
  border-radius: 12px;
  background: white !important;
}


.aff-multi-centered{
  .multicolumn-list{
    justify-content: center;
  }
}
.aff-multi-centered .multicolumn-card{
  background: #EFC98B33 !important;
  border: 1px solid #23202133;
  
}
.multi-centered-100 .multicolumn-card{
  background: #EFC98B33 !important;
  border: 1px solid rgba(239, 201, 139, 0.98);
  border-radius: 10px !important;
  padding: 34px 0 8px;
}

/* faq */
.aff-faq .collapsible-content-wrapper-narrow{
  max-width: 120rem !important;
}
.faqs-100{
  margin-top: 0 !important;
}

/* image with text */
.aff-img-w-txt{
  .image-with-text__content{
    padding: 51px;
    border: 1px solid #23202133;
    border-radius: 10px !important;
     box-shadow: 0 4px 6px -2px #10182808,
  0 12px 16px -2px #10182808 !important;
    height: 90%;
    top: 3%;
  }
  .image-with-text__heading{
    font-size: 32px;
  }
}

.how-it-works-sec .title, .aff-rich-heading .rich-text__heading, .aff-faq .collapsible-content__heading{
    font-size: 48px;
  }

.ca-multicolumn .multicolumn-list{
  gap: 30px;
}
.ca-multicolumn .multicolumn-list__item{
  flex: 0 0 calc(50% - 15px);
}

.ca-image-grid{
  .image-grid__title{
    text-align: center;
  }
  .grid{
    gap: 30px;
  }
  .grid--2-col-desktop .grid__item{
    width: calc(50% - 15px);
  }
}
@media screen and (min-width: 1000px){
.aff-multicolumn .multicolumn-list__item, .aff-multi-centered .multicolumn-list__item{
      max-width: calc(50% - 40px / 2) !important;

  }
}
@media screen and (max-width: 749px){
  .aff-hero-banner .media>img{
    object-position: left center;
  }
  .how-it-works-sec .title, .aff-rich-heading .rich-text__heading, .aff-faq .collapsible-content__heading{
    font-size: 36px;
  }

  .aff-img-w-txt .image-with-text__heading{
    font-size: 28px;
  }
  .aff-multicolumn .title-wrapper-with-link, .aff-multi-centered .title-wrapper-with-link{
    justify-content: center;
    .title{
     font-size: 36px;
    }
  }
  .aff-multi-centered .inline-richtext, .aff-multicolumn .inline-richtext{
    font-size: 28px;
  }
  .aff-multi-centered .rte, .aff-multicolumn .rte{
    font-size: 15px;
    line-height: 25px;
  }
  .aff-multi-centered .multicolumn-card-spacing {
    padding-top: 0rem;
    padding-bottom: 1.5rem;
  }
  .ca-multicolumn .multicolumn-list__item{
    flex: 0 0 100%;
  }
  .ca-image-grid{
    .grid{
      flex-direction: column;
      align-items: center;
    }
    .grid--2-col-desktop .grid__item{
      width: 100%;
    }
  }

  .rv-choice-banner{
    overflow-x: hidden;
    .banner__media {
      min-width: 140%;
      img{
        max-width: 100%;
        object-fit: cover;
        object-position: right;
        left: -28% !important;
      }
    }
  }
}

.shopify-section:has(#AbmtXalluZzBzNUhtZ__forms_inline_6R4tfw){
  position: fixed;
  top: 50%;
  background: white;
  border-radius: 20px;
  width: 100%;
}
div[data-forms-id=forms-root-614717] {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    flex-direction: column;
    justify-content: center;
}
div[data-forms-id=forms-root-614717]::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #00000047;
}
div[data-forms-id=forms-root-614717] form-embed {
    max-width: 550px;
    margin: 0 auto;
    background: #fff;
    z-index: 99;
    padding: 20px;
    min-width: 350px;
}

.product-link{
    font-size: 14px;
    line-height: 14px;
    font-weight: 400px;
    color: #FFFFFFCC;
    text-decoration: none;
}
.product-link:hover{
  color: #EFC98B;
  text-decoration: underline;
}
.breadcrumb{
  padding: 20px 0 0;
}
.breadcrumb-back--arrow svg{
    width: 15px;
    height: 15px;
    top: 3px;
    position: relative;
    path{
      stroke: #fff;
    }
}
.product-link:has(.breadcrumb-back--arrow):hover .breadcrumb-back--arrow svg{
  path{
    stroke:#EFC98B;
  }
}


.menu-item-with-preview {
  position: relative;
}

.menu-preview {
  position: absolute;
  left: 110%; /* right next to link */
  top: 50%;
  transform: translateY(-13%);
  width: 200px;
  /* display: none; */
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  padding: 8px;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0.1s, visibility 0s linear 0.4s; 
}
.menu-preview-img{
  background: #f1f1f1;
  border-radius: 5px;

}
.menu-preview img {
  width: 100%;
  height: auto;
  object-fit: contain;
  mix-blend-mode: multiply;
}

.menu-item-with-preview:hover .menu-preview {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.1s;
}

.blog-filters{
    text-align: center;
    background: #fff;
    margin: 30px 0 0;
    border-top: 1px solid #413f3f1a;
    border-bottom: 1px solid #413f3f1a;
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;

  a.blog-filter--tag{
    padding: 13px 15px;
    text-decoration: none;
    transition: .2s ease background;
    position: relative;
    min-width: fit-content;
  }
  a.blog-filter--tag:hover{
    background: #232021;
    color: #e5bf85;
  }
}
.blog-filter--container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.blog-filter--tag.active{
  font-weight: 600;
}
.blog-filter--tag.active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 3px;
  background: currentColor;
}
.article-tags{
  margin: 10px 0 0 0;
}
.article-tags a {
    text-decoration: none !important;
    color: #000;
    background: #e5bf85a1;
    padding: 3px 5px;
    border-radius: 9px;
}
a.full-unstyled-link:after{
    bottom: 44% !important;
}
/* Comp Pages */
.multi-comp--column .multicolumn-list{
 --grid-desktop-horizontal-spacing: 12px;
}
.multi-comp--two .multicolumn__title{
  justify-content: end;
}
.multi-comp--two .multicolumn-card{
  background:rgba(255, 255, 255, 0.10) !important;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px !important;
  padding: 34px 0 8px;
}
.shopify-section:has(.jdgm-carousel-wrapper) {
  background: #232021;
  color: white;
  .jdgm-carousel-title, .jdgm-carousel__rev-sum-header, .jdgm-carousel__rev-sum-content {
    color: white;
  }
}
.jdgm-carousel__left-arrow,
.jdgm-carousel__right-arrow{
  border: none !important;
  background-image: url('https://cdn.shopify.com/s/files/1/0706/4243/4289/files/Testiomonial_carousel_arrow.png?v=1764075864');
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px !important;
  height: 30px !important;
}
.jdgm-carousel__left-arrow{
  transform: rotate(0deg) !important;
}
.jdgm-carousel__right-arrow{
  transform: rotate(180deg) !important;
}
.jdgm-carousel__rev-sum-wrapper{
    display: none;
}
.jdgm-line-clamp{
  display: block !important;
}

.hsa-multi{
  .title-wrapper-with-link{
    justify-content: center;
  }
  ul.grid {
    --grid-desktop-horizontal-spacing: 16px;
      justify-content: center;
  }
  .multicolumn-card.content-container {
    padding: 0;
    border-radius: 24px;
    box-shadow: 0 1px 6px #EFC98B;
  }
  .multicolumn-card__image-wrapper {
    padding: 0;
    margin: 0;
  }
  .media.media--transparent.media--adapt {
    padding-bottom: 87.00696055684455% !important;
  }
  .multicolumn-card__info {

    h3 { 
    color: black;
    font-size: 24px;
    font-family: Roboto, sans-serif !important;
    margin: 12px 0;
    color: #EFC98B;
    }
  
    p {
      font-size: 14px;
      line-height: 1.2;
      font-weight: 400;
      color: #fff;
    }
  }
}

.hsa-prd-cards{
  .swiper-slide.product-card{
    background: #000;
    border-radius: 24px;
    box-shadow: 0 1px 6px #EFC98B;
    margin-right: 24px !important;
    div:not(.product-card-image-wrapper) {
      padding: 0 8px 8px;
    }
    .add-to-cart__button {
      background: #EFC98B;
      color: #000;
      font-weight: 600;
      width: -webkit-fill-available;
      border-radius: 15px;
    }
  }
}
.hoodie-guide-image{
  width: 100%;
  border-radius: 12px;
}
@media screen and (min-width: 750px) and (max-width: 989px){
 .hsa-multi .multicolumn-list__item.grid__item{
   max-width: calc(50% - var(--grid-desktop-horizontal-spacing) * 2 / 3);
 }
}
@media screen and (min-width: 750px){
.hsa-img-w-txt{
  .image-with-text__text-item.grid__item {
    width: 30%;
    }
  }
}

.rich-text:has(.phill-r_c-bottom){
    /* background: #171418; */
    background: radial-gradient(circle at 50% 65%, rgb(255 180 120 / 15%), transparent 40%), #171418;
    color: #fff;
}
.phill-r_c-bottom{

  h2.rich-text__heading.rte {
    font-size: 48px;
    font-family: 'Roboto' !important;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 28px;
  }
  a.button.button--primary {
    border-radius: 4px !important;
    color: black;
    font-weight: 600;
    letter-spacing: 0.4px;
    min-width: 250px;
    background: #e5c085;
  }
  a.button.button--primary:before, a.button.button--primary:after {
    content: none;
  }
}
@media screen and (max-width: 768px){
  .phill-r_c-bottom h2.rich-text__heading.rte {
    font-size: 34px;
  }
}